@use "reset.css"

@use "variables.sass"

@use "fonts.sass"

.container
    background: no-repeat url("../img/bg.jpg")
    height: 1117px
    position: relative

    .main

        .mainTitle
            color: #FFF
            font-family: "Grtsk Giga"
            font-size: 64px
            font-style: normal
            line-height: normal
            width: 770px