@use "reset.css"

@use "variables.sass"

@use "fonts.sass"

.container
    background: no-repeat url("../img/bg.jpg")
    height: 1117px
    position: relative
    
    .header

        .logo
            width: 379px
            height: 55px
            
            img
                float: left
                margin: 8px auto 9px auto

            span
                font-size: 14px

            h2
                font-size: 25px

    .main

        .mainTitle
            color: #FFF
            font-family: "Grtsk Giga"
            font-size: 64px
            font-style: normal
            line-height: normal
            width: 770px